.spacer {
  flex: 1;
}

.socialBrand {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 14px 10px 6px 10px;
}

.brandIcon{
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}