
<div class="main-container">
  <app-header></app-header>
  <div class="content-container">
      <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]=collapsed>
        <a clrVerticalNavLink routerLink="/basic-setup" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
          Basic Setup</a>
        <a clrVerticalNavLink routerLink="/ol-proj-setup" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
           Ol-proj Setup</a>
       <a clrVerticalNavLink routerLink="/custom-markers" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Custom Markers</a>
       <a clrVerticalNavLink routerLink="/simple-popup" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Simple Popup</a>
       <a clrVerticalNavLink routerLink="/custom-control" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
        Custom Control</a>
        <a clrVerticalNavLink routerLink="/clustered-features" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
            Clustered Features</a>

            <a clrVerticalNavLink routerLink="/geojson-rendering" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                Geojson Rendering</a>
      </clr-vertical-nav>

      <div class="content-area">
            <router-outlet></router-outlet>
      </div>
  </div>
</div>