<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="/basic-setup" routerLinkActive="active"> Basic Setup</a>
   <a routerLink="/ol-proj-setup" routerLinkActive="active"> Ol-proj Setup</a>
  <a routerLink="/custom-markers" routerLinkActive="active"> Custom Markers</a>
  <a routerLink="/simple-popup" routerLinkActive="active"> Simple Popup</a>
  <a routerLink="/custom-control" routerLinkActive="active"> Custom Control</a>
</nav>
<router-outlet></router-outlet>
